body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    z-index: -1;
    position: fixed;
    left: 0;
    top: 50px;
    display: flex;
    flex-flow: row;
    .leftNav{
        background-color: #001529;
        overflow-y: scroll;
        height: calc(100vh - 50px);
    }

    .rightRoute {
        flex: 4;
        background-color: whitesmoke;
        padding: 20px;
        overflow-y: scroll;
        height: calc(100vh - 50px);
    }
}